/* style
*/
body{
    font-family: Helvetica, "Times New Roman";
    background: #516C5B;
    color: #FFFFFF
}
h1{
    font-size:40px;
    padding:15px;
    text-align: center;
}
header{
    padding: 10px;
}
nav li{
    list-style-type: none;
    background-color: darkgreen;
	display: inline-block;
    padding:10px;
    width:25%;
    border:1px solid black;
    text-align: center;
}
a{
    color:white;
}
nav {
    text-align: center;
}
nav li:hover{
    opacity: 0.3;
}
h2{
    font-size: 28px;
    text-shadow: 2px 4px #808080;
    text-align: center;
}
h3{
    font-size:  24px;
    text-align: center;
}
h4{
    font-size: 18px;
    text-align: center;
}
p{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-align: center;
}
img{
    width:350px;
    display: block;
    margin: auto;
    padding: 10px;
    border:10px solid #b4a9a9;
}
img:hover{
    opacity: 0.3;
}

div:nth-child(3n):hover{
    filter: grayscale(100%);
    border:10px dotted black;
}
    
div{
    padding-bottom: 10px;
    border-bottom: 5px solid #FFFFFF;
    min-height: 80px;
}